<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74894747-3"></script>
    <script>
    function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-74894747-3");
    </script>
    <body>
        <section id="mg-wrapper">
            {% include header.html %}
            <div class="container">
                {{ content }}
            </div> <!-- /container -->
            {% include footer.html %}
        </section> <!-- /.mg-wrapper -->
        {% include scripts.html %}
    </body>
</html>
